.container-vertical{
	width: 80%;
    display: flex;
    flex-direction: column;
}

.container-vertical-2{
    display: flex;
    flex-direction: column;
}

.container-vertical-3{
    display: flex;
    flex-direction: column;
	width: 90%;
	padding-bottom: 20px;
}

.container-vertical-text-image{
	padding-top: 15%;
	padding-bottom: 10%;
}

.container-vertical-text {
	padding-top: 15%;
	padding-bottom: 10%;
	width: 90%;
}

.clickable-image {
	height: 71px;
	width: 75px;
}

.rounded-circle-lg {
	height: 200px;
	width: 200px;
}

.clickable-text {
	text-decoration: none;
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col {
	padding-right: 0;
	padding-left: 0;
}

.col-full-text {
	background-color: rgb(1, 35, 52);	
}

.btn-custom {
	background-color: rgb(110, 180, 194);
	border-radius: 50px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-custom:hover {
	background-color:rgb(106, 170, 179);
	color: white;
}

.p-center {
	font-size: 15px; 
	text-align: center; 
	vertical-align: middle;
}

.path1 {
	fill: #6AAAB3;
}

.path2 {
	fill: #003149;
}

.navbar{
	background-color: white;
	padding: 0;
}
.nav-logo{
	width:60px;
}
#brand1::after{
    content: "\a";
    white-space: pre;
}

#brand2::before{
    content: "\a";
}

.navbar-brand{
	font-family: serif; 
	font-size: 21px;
	font-weight: bold;
	color:rgb(1, 35, 52);
	display: inline-block;
	max-height: 3rem;
	line-height: 1.5rem;
	position:relative;
	top:16px;
}
.nav-link{
	color:rgb(1, 35, 52);
	font-size: 16px;
	font-weight: 500;
}

.nav-link:hover {
	color:rgb(106, 170, 179) !important;
}

.dropdown-item{
	color:rgb(1, 35, 52);
	font-weight: 500;
}

.dropdown-item:hover {
	color:rgb(106, 170, 179) !important;
}


.footer-links:hover {
	color:rgb(106, 170, 179) !important;
}

.contact-info {
	color: rgb(106, 170, 179);
}

.navbar-book:hover {
	background-color: rgb(67, 118, 125) !important;
}


.navbar-toggler{
	border: none;
	font-size: 1.25rem;
}



@media (500px <= width < 768px) {

	.footer-logo-div {
		display:flex;
		justify-content: center;
		align-items: center;
	}
	#links-container{
		margin-left: 20px;
	}

	.nav-logo{
		margin-left: 20px;
	}

	.navbar-book{
		margin-top: 15px;
	}
}

@media (768px <= width < 992px) {

	.footer-logo-div {
		display:flex;
		justify-content: center;
		align-items: center;
	}

	.nav-logo{
		margin-left: 40px;
	}

	.navbar-book{
		margin-top: 15px;
	}

}

@media (992px <= width < 1200px) {

	.footer-logo-div {
		display:flex;
		justify-content: center;
		align-items: center;
	}

	.nav-logo{
		margin-left: 40px;
	}
	.navbar-book{
		margin-top: 15px;
	}


}

@media (min-width:1200px) {

	.navbar-book{
		margin-right: 20px;
	}

	.nav-logo{
		margin-left: 40px;
	}
	
	#insurance-options{
		margin-right: 30px;
	}
}

.text-sky-blue {
	color: var(--sky-blue);
}

.text-comment {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-highlighted {
	background-color: var(--sky-blue);
}

.icon-star-yellow {
	color: rgb(251, 188, 4);
}

:root {
	--sky-blue: rgb(197,241,247);
}

.img-logo {
	width: 44px;
	height: 44px;
}

.rounded-circle-sm {
	height: 125px;
	width: 125px;
}